body {
    background: rgb(0, 9, 58);
    color: white;
}
h1{
    text-align: center;
    color: rgb(142, 228, );
    
}
h2{
    font-style: italic;
    text-align: left;
    text-transform: uppercase;
}
h3, p{
    text-align: left;
}

button:not(.return){
    padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1DB954;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(23, 141, 65);
  margin: 7px;
  width: 98%;
}
input{
    padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  align-content: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8c00ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 7px;
  width: 75%;
}

button:hover:not(.return) {background-color: rgb(10, 150, 59)}

button:active:not(.return) {
    background-color: rgb(13, 134, 56);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

div{
    text-align: center;
}

.extra{
    font-size: 12px;
}

.return{
    position: fixed;
    top: 5px;
    width: 50px;
    height: 50px;
    background-image: url(arrow.png);
    background-size: 100%;
    border: 0px;
    background-color: transparent;
    box-shadow: none;
}

@media only screen and (max-width: 600px) {
    .return {
      right: 5px;
    }
  }