legend {
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
}

input {
    display: block;
    margin: 5px;
}

.idk {
    margin-right: -30px;
}

.left{
    border-right: solid black 2px;
}

table{
    border-collapse: collapse;
    font-size: 24px;
}