@media only screen and (max-width: 600px) {
    .return {
        right: 5px;
    }
    select {
        width: 97%;
    }
}

@media only screen and (min-width: 600px) {
    .return {
        left: 5px;
    }
    select {
        width: 87%;
    }
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

html,
p,
h1,
body,
input,
button,
select,
table {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

body {
    background: rgb(0, 9, 58);
    color: white;
}

h1 {
    text-align: center;
    color: #1DB954;
    border-bottom: 3px double white;
    padding-bottom: 5px;
}

.title {
    text-align: center;
    color: #1DB954;
    border-bottom: 3px double white;
    padding-bottom: 5px;
    margin-top: 60px;
}

p {
    font-size: 22px;
    font-weight: 300;
}

table {
    text-align: center;
}

img:not(#imgA, #imgB, #imgC, #imgD) {
    width: 100%;
    height: width;
}

input:not([type=radio]),
button:not(.return) {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #1DB954;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(23, 141, 65);
    margin: 7px;
    width: 83%;
}

select {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #1DB954;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(23, 141, 65);
    margin: 7px;
}

header {
    background-color: #1DB954;
    font-size: 30px;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: -50px;
    width: 100%;
    transition: top 0.5s;
    z-index: 2;
}

.return {
    position: fixed;
    top: 5px;
    width: 50px;
    height: 50px;
    background-image: url(../images/arrow.png);
    background-size: 100%;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

.return:hover {
    border: 2px solid transparent;
}

.returnBackground {
    width: 110%;
    height: 60px;
    top: -5px;
    background-color: rgb(0, 9, 58);
    position: fixed;
    left: -3px;
}

.stoel {
    width: 100%;
}

.icon {
    width: 20px;
    height: width;
    float: left;
    margin-right: 5px;
}

.submitBtn {
    width: 98% !important;
}

.middle {
    text-align: center;
    font-size: x-large;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]+img {
    cursor: pointer;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}


/* width */

::-webkit-scrollbar {
    width: 20px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #1DB954;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(23, 145, 65);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}